VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=mirror-island
VITE_KEYCLOAK_CLIENT_ID=mirror-island-web

KEYCLOAK_ISSUER=http://localhost:8081/realms/mirror-island
KEYCLOAK_AUDIENCE=mirror-island-game
